<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="{
    'has-danger': email.invalid && (email.dirty || email.touched),
    'had-success': email.valid && (email.dirty || email.touched)
  }">
    <label>Email</label>
    <input type="email" class="form-control" formControlName="email" required>
    <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
      <p *ngIf="email.errors.required">Email is required</p>
      <p *ngIf="email.errors.email">Invalid Email address</p>
    </div>
  </div>

  <div class="form-group" [ngClass]="{
    'has-danger': password.invalid && (password.dirty || password.touched),
    'had-success': password.valid && (password.dirty || password.touched)
  }">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password" required>
    <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
      <p *ngIf="password.errors.required">Password is required</p>
    </div>
  </div>

  <button type="submit" class="btn btn-success">
    {{button.login}}
  </button>
</form>